body {
  /* Positioning */
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */


  /* Typography */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Visual */
  background: url("../imgs/blkspts.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

/* ---------NAV START---------- */

.navbar {
  min-width: 100%;
}

.navbar-custom {
  /* background-color: #fff; */
  vertical-align: middle;
  padding: 0 30px;
}

/* -----MY NAME----- */


#logo {
  /* Box-model */


  /* Positioning */
  font-family: 'Megrim', cursive;

  /* Typography */
  font-size: 36px;
  font-weight: bold;
  color: #555;

  /* Visual */
  background: transparent;
}

.navbar-right-custom {
  /* Box-model */

  /* Typography */
  font-family: 'Prata', serif;
  font-weight: lighter;
  text-align: center;
}

.navbar-nav > li > a:hover {
  color: #4aaaa5;
}

/* --------NAV END---------- */

.about-me-content {
  /* Box-model */
  width: 100%;
  padding: 0 30px;
  vertical-align: middle;

  /* Positioning */
  text-align: left;

  /* Visual */
  background-color: #fff;
}

.about-me-header {
  /* Positioning */
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;

  /* Typography */
  font-family: 'Cutive Mono', monospace;
  font-size: 28px;
  font-weight: bold;
  color: #555;
}

.about-me-content > p {
  /* Box-model */
  text-align: left;
  padding: 15px 5px;


  /* Typography */
  font-size: 16px;
  line-height: 30px;
  color: #333;
  font-family: 'Cutive Mono', monospace;
}

#nate-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 20px;
}

/* ----------------- */

/* ----------CONNECT W/ ME CSS-##############- */

/* ----------------- */

#connect-with-me-area {
  width: 100%;
  height: 95px;

  /* Box-model */
  padding: 20px 30px;

  /* Positioning */
  text-align: right;
  margin-top: 20px;


  /* Visual */
  background-color: #fff;
}

.connect-with-me-header {
  /* Positioning */
  margin-bottom: 15px;
  font-family: 'Cutive Mono', monospace;


  /* Typography */
  font-size: 26px;
  font-weight: bold;
  color: #555;
}

.connect-with-me-photo {
  width: 55px;

  /* Box-model */
  height: 55px;
}

#images {
  /* Box-model */
  vertical-align: middle;

  /* Typography */
  text-align: center;
}

#img1, #img2, #img3 {
  -webkit-animation: rotation 15s infinite linear;
  margin: 0 50px;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


/* -------END-------- */

.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;

  /* Box-model */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Visual */
  background-color: #fff;
}

.text-muted-footer {
  /* Positioning */
  margin-top: 10px;

  /* Typography */
  color: #666;
  font-family: 'Cutive Mono', monospace;
}

.two-toned-footer-color {
  /* Box-model */
  height: 1px;
  padding-top: 1px;

  /* Visual */
  background-color: #555;
}

/* ----------------- */

/* CONTACT FORM CSS  */

/* ----------------- */

.contact-form {
  width: 100%;

  /* Box-model */
  padding: 15px 30px 25px 0;

  /* Positioning */
  text-align: right;
  margin-top: 20px;

  /* Visual */
  background-color: #fff;
}

.contact-form-header,
.port-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: 'Cutive Mono', monospace;
  text-align: right;

  /* Typography */
  font-size: 28px;
  font-weight: bold;
  color: #555;
}

#name_input,
#mail_input,
#msg {
  width: 95%;

  /* Box-model */
  height: 30px;

  /* Positioning */
  margin-top: 20px;
  margin-bottom: 15px;
}

#msg {
  /* Box-model */
  height: 150px;

  /* Visual */
  border-color: #ccc;
}

.label-name,
.label-msg,
.label-mail {
  /* Typography */
  font-size: 17px;
  color: #666;
}

.contact-hr {
  margin-bottom: 30px;
}

.submit-btn {
  /* Box-model */
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;

  /* Typography */
  color: #555;

  /* Visual */
  background-color: #fff;
  border: 1;
  border-color: #555;
}

/* --------END-------- */

/* ----------------- */

/* PORTFOLIO PAGE CSS */

/* ------------------ */

#portfolio-area {
  /* Box-model */
  width: 100%;
  padding: 20px;

  /* Positioning */


  /* Visual */
  background-color: #fff;
}

.port-hr {
  margin-bottom: 40px;
}

.port-imgs {
  /* Box-model */
  width: 200px;
  height: 200px;
  margin: 7px;

  /* Positioning */
  margin-bottom: 15px;
}

/* --------END--------- */

/* -------------------------------------------- */

/* MEDIA  QUERY  CSS */

@media only screen and (min-width: 991px) {

  #images {
    /* Box-model */
    padding: 0;
    margin: 0 0 20px 0;
  }

  #img2 {
    margin: 0 25px;
  }

  #img1, #img3 {
    margin: 0;
  }

}



@media only screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .navbar-header {
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  #logo {
    width: 100%;

    /* Box-model */
    height: auto;

    /* Positioning */
    display: flex;
    justify-content: center;

    /* Typography */
    font-family: 'Megrim', cursive;
    font-size: 32px;
    font-weight: bold;
    color: #555;
    /* text-align: center; */

    /* Visual */
    background: #fff;
  }

  .navbar-right-custom {
    /* Box-model */
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    /* Typography */
    font-family: 'Prata', serif;
    font-weight: lighter;
  }

  .about-me-header {
    /* Positioning */
    font-family: 'Cutive Mono', monospace;
    text-align: right;
    vertical-align: middle;

    /* Typography */
    font-size: 28px;
    font-weight: bold;
    color: #555;
  }
}

@media only screen and (max-width: 640px) {

  .navbar-header {
    position: static;
  }

}

/* ----------------- */

/*****************************************************************************
/*************-----EFFECTS----------EFFECTS----------EFFECTS-----*************
/*****************************************************************************



/* -----HOVER-BUZZ----- */

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* -----END HVR-BZZ----- */


/* -----HOVER-ROTATE----- */

/* Rotate */
.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

/* -----END HVR-ROTATE----- */


/* -----HOVER-GROW-ROTATE----- */

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

/* -----END HVR-GROW-ROTATE----- */
